/* =============================================================================
   Mixins - less
   ========================================================================== */
			
	/*
		Rounded corners
		-------------------------------------------------------------------------
	*/
		.roundedCorners(@radius){
			-webkit-border-radius: @radius; 
			-moz-border-radius: @radius; 
			border-radius: @radius;	
		}
		
	/*
		Box shadow + no ie fallback via PIE.htc because of bad quality
		-------------------------------------------------------------------------
	*/	
		.boxShadow(@value){
			-webkit-box-shadow: @value;
			-moz-box-shadow: @value; 
			box-shadow: @value;	
		}

	/*
		Box sizing
		-------------------------------------------------------------------------
	*/	
		.boxSizing(@value){
			box-sizing: @value;
			-webkit-box-sizing: @value;
			-moz-box-sizing: @value;
		}	
	
	/*
		Gradient + ie fallback via PIE.htc
		-------------------------------------------------------------------------
	*/	
		.gradient(@top-rgb, @bottom-rgb, @top-hex, @bottom-hex){	
			background: lighten(@bottom-hex,15%);
			-pie-background: linear-gradient(@top-hex, @bottom-hex);			
			/*filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr="@top-hex~", endColorstr="@bottom-hex~",GradientType=0 )";*/
			background: -moz-linear-gradient(top,  @top-rgb 0%, @bottom-rgb 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top-rgb), color-stop(100%,@bottom-rgb)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  @top-rgb 0%,@bottom-rgb 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  @top-rgb 0%,@bottom-rgb 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  @top-rgb 0%,@bottom-rgb 100%); /* IE10+ */
			background: linear-gradient(top, @top-rgb 0%,@bottom-rgb 100%); /* W3C */
		}
		
	/*
		Clearfix
		-------------------------------------------------------------------------
	*/	
		.clearfix(){
			zoom: 1;
			&:before { content: ""; display: table; }
			&:after { content: ""; display: table; }
			&:after { clear: both; }	
		}

	/*
		Transition
		-------------------------------------------------------------------------
	*/
		.transition(@val){ 
			-webkit-transition: @val;
			-ms-transition: @val;
			-moz-transition: @val;
			-o-transition: @val;
			transition: @val;
		}

	/*
		Sprite
		-------------------------------------------------------------------------
	*/
		@spriteGrid: 25px;
		
		.sprite(@x, @y) {
		   background: url(../images/sprites.png) no-repeat;
		   background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
		}

		/*
			Sprite hide text
			-------------------------------------------------------------------------
		*/
		.hideText{
		   text-indent: -999em;
		   letter-spacing: -999em;
		   overflow: hidden;
		}
		.spriteReplace(@x, @y) {
		   .sprite(@x, @y);
		   .hideText;
		}
		.spriteReplace (@x, @y, @width, @height) {
		   .sprite(@x, @y);
		   .hideText;
		   width: @width;
		   height: @height;
		}

		/*
			Sprite inline
			-------------------------------------------------------------------------
		*/
		.spriteInline(@x, @y) {
		   .sprite(@x, @y);
		   display: inline-block;
		   content: "";
		}

		.spriteInline(@x, @y, @width, @height) {
		   .sprite(@x, @y);
		   display: inline-block;
		   content: "";
		   width: @width;
		   height: @height;
		}

		/*
		Font faces 
		-------------------------------------------------------------------------
		*/	
		@font-face{ 
			font-family: 'wonderlandwine'; 
			src: url('../fonts/jellykawonderlandwine-webfont.eot'); 
			src: url('../fonts/jellykawonderlandwine-webfont.eot?#iefix') format('embedded-opentype'), 
				 url('../fonts/jellykawonderlandwine-webfont.woff') format('woff'), 
				 url('../fonts/jellykawonderlandwine-webfont.ttf') format('truetype'), 
				 url('../fonts/jellykawonderlandwine-webfont.svg#webfont') format('svg'); 
			}
		.wonderlandwine(){
			font-family: "wonderlandwine", Calibri, Arial, Helvetica, sans-serif;
		}
		@font-face{ 
			font-family: 'RefreshmentStand'; 
			src: url('../fonts/RefreshmentStand.eot'); 
			src: url('../fonts/RefreshmentStand.eot#iefix') format('embedded-opentype'), 
				 url('../fonts/RefreshmentStand.ttf') format('truetype'), 
				 url('../fonts/RefreshmentStand.svg#webfont') format('svg'); 
			}
		.RefreshmentStand(){
			font-family: "RefreshmentStand", Calibri, Arial, Helvetica, sans-serif;
		}
