/* =============================================================================
   Less css imports - first part
   ========================================================================== */
	@import "mixins.less"; /* mixins */

	@import "boilerplate/html5_element_display.less"; /* html 5 element display */
	@import "boilerplate/base.less"; /* base */
	@import "boilerplate/links.less"; /* links */
	@import "boilerplate/typography.less"; /* typography */
	@import "boilerplate/headings_paragraph.less"; /* headings & paragraph */
	@import "boilerplate/floats_aligns.less"; /* floats & aligns */
	@import "boilerplate/lists.less"; /* lists */
	@import "boilerplate/embeddedContent.less"; /* embedded content */
	@import "boilerplate/figures.less"; /* figures */
	@import "boilerplate/forms.less"; /* forms */
	@import "boilerplate/table.less"; /* table */
	
	/* Custom forms -  Uniformjs.com */
	@import "customForm/configuration.less"; /* configuration > required */
	@import "customForm/form-layout.less"; /* form-layout - not required */
	@import "customForm/required.less"; /* configuration > required */
	@import "customForm/core.less"; /* core > required */


/* =============================================================================
   Primary styles -- Author: Ken Boone
   ========================================================================== */

   body{ background: #424242; }
   #container{ width: 970px; min-height: 275px; padding-top: 75px; background: grey; margin: 0 auto; }
   #header{ width: percentage(970/970); }

   .deviceWidth{ color: #FFF; font-weight: bold; }

	/* 
		Hieronder staat alle vereiste css voor een responsive navigatie 
		er staat dus in geen enkele andere less file css voor dit stukje 
	*/
		@navHeight : 65px;
		@bgLevel1 : #0e4c6f;
		@bgLevel1_active : #419ece;

		.responsive-nav{ display: table; table-layout: fixed; position: relative; width: 100%; height: @navHeight;
						 border: 1px solid #FFF; .boxSizing(border-box);

			/* General */
			.responsiveModus{ display: none !important; // niet aankomen!!!
				width: 0px; /* doorgeven aan js dat we NIET in responsive modus zitten */
			}
			.box{ position: relative; .clearfix(); }
			ul{ margin: 0; padding: 0; width: 100%;
				li{ list-style-type: none; }
			}
			a{ color: #FFF; text-decoration: none; text-align: center; .boxSizing(border-box); }
			
			/* Level 1 */
			& > ul{ display: table-row; }
			li.level1{ display: table-cell; background: @bgLevel1; .boxSizing(border-box);
				.box > a{ display: table; height: @navHeight; width: 100%; float: left;
					span{ display: table-cell; vertical-align: middle; }
				}
				&:hover{ background: #12587c; }
				&.active{ background: @bgLevel1_active; }
			}
				li.level1 + li.level1{ border-left: 1px solid #FFF; }

			/* Level 2 */
			li.level1 {
				ul{ display: none; background: @bgLevel1_active; position: absolute; top: (@navHeight); left: 0px; z-index: 50; }
				ul a{ padding: 10px 30px; display: inline-block; }
				.subNav{ height: auto; }
			}
		}


		/* Responsive part - werkt enkel vanaf ie9 en in alle goeie browsers :p */
		@media only screen and (min-width: 970px) { /* screens groter dan 970px  - biggest version */
			
		}

		@media only screen and (max-width: 970px) {/* screens tot 970px */
			#container{ width: 100%; }
		}

		@media only screen and (max-width: 700px) { /* navigatie in 2 delen, afhenkelijk van tekstlengte */
			.responsive-nav .responsiveModus{ width: 1px; } /* doorgeven aan js dat we vanaf nu WEL in responsive modus zitten */
			// change naar float modus
			.responsive-nav{  display: block; height: auto; background: @bgLevel1; .clearfix();
				.box{ position: static; }
				& > ul{ display: block; position: relative; .clearfix(); }
				li.level1{ display: block; float: left; width: (100%/3); background: none; position: relative; 
					.box > a{ float: none !important; }
					a{ background: @bgLevel1; }
					ul{ position: relative; left: 0; top: 0; .rnav_levelTwo_0(); }
				} 
				li.level1:nth-child(3n+1){ clear: left; } 
				li.level1.open{ 
					a{ background: @bgLevel1_active; }
					ul{ display: block !important; 
						width: (100% * 3);
					}
				}
			}
		}

			// Specific styling + animation for this modus
			@media only screen and (min-width: 322px)  and (max-width: 700px) 
			{
				.responsive-nav{
					li.level1 .box > a{ border-top: 1px solid #FFF; }
					li.level1 + li.level1{ border: 0;  
						& .box > a{ border-left: 1px solid #FFF; }
					}
					li.level1:nth-child(3n+1) .box > a{
						border-left: 0 !important;
					}
					li.level1:nth-child(-n+3) .box > a{ // first 3
						border-top: 0;
					}
					li.level1:nth-child(3n+2){ 
						ul{ left: -100%; .rnav_levelTwo_100(); }
					}
					li.level1:nth-child(3n+3){ 
						ul{ left: -200%; .rnav_levelTwo_200(); }
					}
				}
			}
		
		@media only screen and (max-width: 768px) { /* ipad portrait */
			
		}

		@media only screen and (max-width: 650px){ /* tussen ipad portrait en iphone landscape*/

		}

		@media only screen and (max-width: 480px) { /* iphone landscape*/

		}

		@media only screen and (max-width: 321px) { /* iphone portrait - smallest version */
			.responsive-nav .responsiveModus{ width: 1px; } /* doorgeven aan js dat we vanaf nu WEL in responsive modus zitten */
			// change naar float modus
			.responsive-nav{
				li.level1{ width: (100%/2);
				} 
				li.level1.open ul{ width: (100% * 2); }				
				li.level1:nth-child(3n+1){ clear: none; }
				li.level1:nth-child(2n+1){ clear: left; }
				li.level1:nth-child(3n+2){ 
					ul{ left: 0; }
				}			
			} 
		}
			// Specific styling for this modus
			@media only screen and (min-width: 1px)  and (max-width: 321px) 
			{
				.responsive-nav{
					li.level1 .box > a{ border-top: 1px solid #FFF; }
					li.level1 + li.level1{ border: 0;  
						& .box > a{ border-left: 1px solid #FFF; }
					}
					li.level1:nth-child(2n+1) .box > a{
						border-left: 0 !important;
					}
					li.level1:nth-child(-n+2) .box > a{ // first 3
						border-top: 0;
					}
					li.level1:nth-child(2n+1){ 
						ul{ left: 0; .rnav_levelTwo_0(); }
					}
					li.level1:nth-child(2n){ 
						ul{ left: -100%; .rnav_levelTwo_100(); }
					}
				}
			}


 	/*
		ANIMATIONS for level 2
 	*/
 		.rnav_levelTwo_0(){
 			.rnav_animation(rnavAnimation0 0.3s ease-out);
 		}
 		.rnav_levelTwo_100(){
 			.rnav_animation(rnavAnimation100 0.3s ease-out);
 		}
 		.rnav_levelTwo_200(){
 			.rnav_animation(rnavAnimation200 0.3s ease-out);
 		}
 			.rnav_animation(@val){
				animation: @val; -webkit-animation: @val;
				-moz-animation: @val; -ms-animation: @val; -o-animation: @val;
 			}

			@-webkit-keyframes rnavAnimation100 {
				0%   { left: 200%; } 
				100% { left: -100%; }
			}
			@-webkit-keyframes rnavAnimation200 {
				0%   { left: 100%; } 
				100% { left: -200%; }
			}
			@-webkit-keyframes rnavAnimation0 {
				0%   { left: 300%; } 
				100% { left: 0; }
			}
			@-moz-keyframes rnavAnimation100 {
				0%   { left: 200%; } 
				100% { left: -100%; }
			}
			@-moz-keyframes rnavAnimation200 {
				0%   { left: 100%; } 
				100% { left: -200%; }
			}
			@-moz-keyframes rnavAnimation0 {
				0%   { left: 300%; } 
				100% { left: 0; }
			}
			@-ms-keyframes rnavAnimation100 {
				0%   { left: 200%; } 
				100% { left: -100%; }
			}
			@-ms-keyframes rnavAnimation200 {
				0%   { left: 100%; } 
				100% { left: -200%; }
			}
			@-ms-keyframes rnavAnimation0 {
				0%   { left: 300%; } 
				100% { left: 0; }
			}
			@-o-keyframes rnavAnimation100 {
				0%   { left: 200%; } 
				100% { left: -100%; }
			}
			@-o-keyframes rnavAnimation200 {
				0%   { left: 100%; } 
				100% { left: -200%; }
			}
			@-o-keyframes rnavAnimation0 {
				0%   { left: 300%; } 
				100% { left: 0; }
			}


/* =============================================================================
   Less css imports - second part
   ========================================================================== */
	@import "boilerplate/helperClasses.less"; /* helper classes, clearfix, ... */
	@import "responsive/mediaqueries.less"; /* media queries */
	@import "print.less"; /* print styles */
