/* =============================================================================
   Less css imports - first part
   ========================================================================== */
	@import "mixins.less"; /* mixins */

	@import "boilerplate/html5_element_display.less"; /* html 5 element display */
	@import "boilerplate/base.less"; /* base */
	@import "boilerplate/links.less"; /* links */
	@import "boilerplate/typography.less"; /* typography */
	@import "boilerplate/headings_paragraph.less"; /* headings & paragraph */
	@import "boilerplate/floats_aligns.less"; /* floats & aligns */
	@import "boilerplate/lists.less"; /* lists */
	@import "boilerplate/embeddedContent.less"; /* embedded content */
	@import "boilerplate/figures.less"; /* figures */
	@import "boilerplate/forms.less"; /* forms */
	@import "boilerplate/table.less"; /* table */
	
	/* Custom forms -  Uniformjs.com */
	@import "customForm/configuration.less"; /* configuration > required */
	@import "customForm/form-layout.less"; /* form-layout - not required */
	@import "customForm/required.less"; /* configuration > required */
	@import "customForm/core.less"; /* core > required */


/* =============================================================================
   Primary styles -- Author: Frederik De Coninck
   ========================================================================== */

	body { background:#ccc url(../images/bck_body.png) top left repeat; .colorGrey();
		&.inbeeld {background: #1c1c1c;}
		&.welcome {background: #f2f2f2}
	}
	
	/* Header
	*********************************/
	#header { z-index:99999;height: 51px; position:fixed; width: 100%; .gradient(rgb(255,255,255), rgb(245,245,245), #ffffff, #f5F5F5);.boxShadow(0 20px 20px rgba(52,52,52,0.3);
		.wrapper {width: 970px;margin: 0 auto;.boxSizing(border-box);position: relative;}
	}
	
	
	/* Navigation
	*********************************/
	#nav { color: #231f20;float: left;
	.navList { padding:17px 7px 7px 7px; margin-left: 105px;font-size: @14px;
		ul {list-style: none;
			li{ float:left; color: #1d2222; margin:0 0 0 13px; position: relative!important;	
				&.active{ .colorbrown(); position: relative;
					a{.colorbrown()}
				} 
				&:before{ .spriteInline(2,0,1px,19px); position: absolute;} 
				&:first-child{ 
					&:before{background: none!important;} 
				} 
				a{color: #1d2222; padding:0 0 0 13px; text-decoration: none;}
					a:hover{.colorbrown() }
				}
			}
		}
		ul.sf-menu {
			ul {border:0px solid #e2e2e2;left:-75px;position:absolute;top:-999em;width: 150px;.boxShadow(0 0 2px rgba(0, 0, 0, 0.25));}
			ul.arrow_box{padding:16px 0 8px;}
			li li {position:relative; color:010101; margin:0px 16px 8px; display: block;float: none; font-size:@11px;
				&:before{display: none;}
				&:hover{visibility:inherit;}
				a{color:#010101!important;padding:0;position: relative;display: block;width: 100%;
					&:hover{.colorbrown()!important;
						&:after{.spriteInline(5,0,9px,9px);position: absolute; right: 0;top:3px}
					}
					&.active{.colorbrown()!important;
						&:after{.spriteInline(5,0,9px,9px);position: absolute; right: 0;top:3px}
					}
				}
			}
			.sf-sub-indicator {display:none;}
		}

		.sf-menu li:hover ul,.sf-menu li.sfHover ul {left:-25px; top:30px;z-index:99;}
		
		.arrow_box {position: relative;background: #ffffff;border: 1px solid #e2e2e2;}
		.arrow_box:after, .arrow_box:before {bottom: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
		.arrow_box:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #ffffff;border-width: 7px;left: 50%;margin-left: -7px;}
		.arrow_box:before {border-color: rgba(226, 226, 226, 0);border-bottom-color: #e2e2e2;border-width: 8px;left: 50%;margin-left: -8px;}
	}				

	
	/* Language
	*********************************/
	#language {position: absolute; top:0;right: 0;background: url(../images/bck_lang.png) left top no-repeat;width: 70px;height: 71px;color: #ffffff;
		li { display: block; margin-top: 9px;position: relative; text-align:center;
			&:before{ .spriteInline(3,0,28px,2px); position: absolute;left: 20px; margin-top: -6px} 
			&:first-child{ 
				&:before{background: none!important;} 
			}
		}
		a{color:#ffffff; text-decoration:none; font-family:georgia; display:block;
			&:hover {.colorbrown()}
		}
		a.noActive {color:#555; text-decoration:none; cursor:default;}
	}
	

	/* Main container
	*********************************/
	#main {display: block;.clearfix()}
	#content-wrapper { margin: 0 auto; width: 970px; }
	
	#brand {width: 94px; height: 95px;position: absolute; top: 10px; left: 10px}


	/* Homepage
	*********************************/
	.home {
		#content{position: absolute;bottom:120px;.clearfix();}
		.block1 {float:left; width: 657px;.boxSizing(border-box);height: 266px; text-shadow:1px 1px 0 rgba(255,255,255,0.70);background: url(../images/bck-transparent.png) top left repeat;
			.box{padding:25px 30px 30px 0;width:313px;float: left;.boxSizing(border-box);
				&:first-child{ 
					margin-right: 30px !important;
					padding-right:0;
					padding-left:30px;
					p {margin:0 !important}
				}
			}
		}
		.block2 {color:#faf4f4; float:left; width: 313px;.boxSizing(border-box);background:#b4121a url(../images/bck_hpblock2.png) top left no-repeat;color: #FAF4F4.twocolscontent;height: 266px;
			.box {margin:30px 30px 30px 30px; line-height:1.65em;
				b, strong {font-weight: bold; color:#fff;}}
			h2 {font-size:60px; text-align: center; .RefreshmentStand(); color: #ffffff; margin: 33px 0 53px; padding-top: 27px; font-weight:normal;}
			a {color: #fff; text-decoration:underline;}
			a:hover {color: #ffffff; text-decoration:none;}

		}
	}


/* Contactpage
	*********************************/
	.contact {
		#content{position: absolute;bottom:120px;.clearfix();}
		.block1 {float:left; width: 657px;.boxSizing(border-box);height: 304px;text-shadow:1px 1px 0 rgba(255,255,255,0.70);background: url(../images/bck-transparent.png) top left repeat;
			.box{padding:25px 30px 30px 0;width:313px;float: left;.boxSizing(border-box);
				p {margin:0 !important}
				img {margin-top:10px; margin-left:15px;}
				&:first-child{ 
					margin-right: 30px !important;
					padding-right:0;
					padding-left:30px;
				}
			}
		}
		.block2 {color:#faf4f4; float:left; width: 313px;.boxSizing(border-box);background:#b4121a;color: #FAF4F4.twocolscontent;height:304px;
			.box {margin:30px 30px 30px 30px;
				div {margin-bottom:13px;
					label {margin-right:5px;}
					.inputField {background:#b4121a url(../images/bck_input_line.png) left bottom repeat-x; border:none !important; color:#fff;}
					.textArea {background:#b4121a url(../images/bck_textarea_lines.png) left 19px no-repeat; border:none !important; color:#fff; width:254px; height:88px; line-height:1.8em; padding:5px 0;}
				}
			}
		}
	}


	/* Content
	*********************************/
	.content {
		#content{margin-top:210px;margin-bottom: 50px;.clearfix();}
		.smallLeftCol {
			.block1 {color:#faf4f4; float:left; width: 313px;.boxSizing(border-box);background:#b4121a;text-shadow:1px 1px 0 rgba(255,255,255,0.15);
				.box{margin:30px}
			}
			.block2 {float:left; width: 657px;.boxSizing(border-box);line-height: 1.6em;text-shadow:1px 1px 0 rgba(255,255,255,0.70);background: url(../images/bck-transparent.png) top left repeat;
				.box{padding:30px;.boxSizing(border-box);}
			}
		}
		.noLeftCol {
			.block {float:left;.boxSizing(border-box);text-shadow:1px 1px 0 rgba(255,255,255,0.70);background: url(../images/bck-transparent.png) top left repeat;/*line-height: 1.6em;*/}
				.box{margin:30px;
					.intro {color:#010101; text-align:justify; overflow: hidden;}
						.text {width:756px; float:left; margin-right:30px;}
				}
			}
		.wrapper {.clearfix()}
		.twocolscontent {margin:30px 0 0 0; text-align: justify;
			.first {padding:0 15px 0 0;.boxSizing(border-box)}
			.last {padding:0 0 0 15px;.boxSizing(border-box);}
		}
		.threecolscontent {margin:40px 0 0 0;
			.number { overflow:hidden;
				span{.spriteInline(8, 0, 27px, 27px);margin-left: 10px; color:#fff; display:block; float:right; font-weight:normal; font-size:@13px; height:27px; padding:3px 0 0 0; text-align: center; text-shadow:1px 1px #c5131c; width:27px;}
				.padOne{padding-top:1px !important;}
				.padTwo{padding-top:2px !important;}
				.padThree{padding-top:3px !important;}
				.padFour{padding-top:4px !important;}
				h2 {display: inline; /*float:left;*/ text-align: left !important; }
			}
			p {text-align: justify; margin-bottom:28px; margin-top:5px;}
			.first {padding:0 30px 0 0;.boxSizing(border-box)}
			.last {padding:0 0 0 30px;.boxSizing(border-box);}
		}
	}
	.rates {
		.block1 {
			.box {
				margin:0 !important; padding:0 !important;
				.row {padding:11px 30px; border:none !important;
					.col1, .col2 {width:127px;
						.hour{color:#c5131c; float:left; font-weight:bold; height: 27px; margin-right:10px; padding:3px 0 0 7px; width:31px;}
						.L {padding:3px 0 0 2px;}
						.price{padding:3px 0 0 0;}
					}
				}
				.odd {
					background:#bc2a31;
					.hour{.spriteInline(0, 1, 31px, 27px);}
				}
				.even {
					.hour{.spriteInline(2, 1, 31px, 27px);}
				}
				.meetbtn{float:right; margin:30px 30px 0 0;}
			}
		}
		.comment {margin:110px 30px 20px; font-style:italic; font-size:0.9em;}
		.block2{
			.onecolscontent {
				text-align:justify;
			}
		}
	}



	.row {border-bottom:1px dotted #DA898D; padding: 6px 1px 6px 1px;overflow: hidden;
		.col1 {width: 110px;display: table-cell;}
		.col2{display: table-cell;}
		&.last{border:none;}
	}

div#bg {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
div#bg img {
    display: block;
    left: 50%;
    top: 50%;
}

	img#bg { position: fixed; left: 0; display: none; }
	.bgwidth { width: 100%; }
	.bgheight { height: 100%; }


	/* In beeld pagina
	*********************************/
	.portfolio-content {top: 50px;margin:0 auto 50px;position: relative;max-width: 1210px;border-left:1px solid #1c1c1c;
		 .box {border-top:1px solid #1c1c1c;
    		border-right:1px solid #1c1c1c;float:left;
    		background: none;
    		.boxSizing(border-box);
    		line-height: 0;
    		margin: 0;
			a {display: block;width: 100%;height: 100%}
   			img {display: block; width: 100%; height: 100%;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;}
          	img:hover {width: 101%; height: 101%;}
		}


.col1 {
    width: 242px; height: 280px;overflow: hidden;
}
.col2 {
    width: 484px; height: 560px;overflow: hidden;
}
	}
	/* Buttons
	*********************************/
    a.contactbtn{ .spriteInline(0, 3, 134px, 27px); .colorbrown(); padding: 5px 10px 5px 10px; height:27px; text-align:left; text-decoration:none; position:relative; right:100px; font-family: georgia; margin-top: 12px; font-size:@14px; width:114px;-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none;
    	&:hover{.spriteInline(6, 3, 134px, 27px); .colorbrown(); text-decoration:none !important; padding: 5px 10px 5px 10px; height:27px; text-align:left; text-decoration:none; position:relative; right:100px; font-family: georgia; margin-top: 12px; font-size:@14px; width:114px;}
    }
    .sendbtn {.gradient(rgb(255,255,255), rgb(242,242,242), #f2f2f2, #ffffff);.roundedCorners(3px); .colorbrown(); padding: 5px 10px 5px 10px; height:27px; text-align:left; text-decoration:none; float:right; font-family: georgia; margin-top: 2px; width:114px;-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; border:0; width:95px;position: relative;
    	&:hover{.gradient(rgb(242,242,242), rgb(255,255,255), #ffffff, #f2f2f2); text-decoration:none !important; .colorbrown();}
    	&:after{.spriteInline(4, 1, 16px, 9px); margin-left: 10px;position: absolute;top:9px; right: 8px}
    }
     a.meetbtn{.colorwhite(); padding:7px 13px 1px; height:23px;text-align: center; text-decoration: none;.gradient(rgb(47,47,47), rgb(35,35,35), #2f2f2f, #232323);.roundedCorners(3px); float:left; text-shadow:1px 1px #222222;
     	&:hover{.colorwhite();text-decoration: none!important;.gradient(rgb(35,35,35), rgb(47,47,47), #232323, #2f2f2f;}
    	&:after{.spriteInline(6, 0, 16px, 9px);margin-left: 10px;}
     }

	/* breadcrumb
	*********************************/
	#breadcrumb {.clearfix();margin:0 0 5px 0;
		ul {margin:0;padding:0;color: #e7c39b;list-style: none;
			li{position: relative;padding:0 5px 0 23px;float: left;
				a {color: #ffffff;text-decoration: none;
					&:hover{text-decoration: underline;}
				}
				&:before{.spriteInline(6,0,18px,11px); position: absolute; top:4px; left: 0px;}
				&:first-child { padding:0 5px 0 0;
					&:before{background: none}
				}
			}
		}
	}

	/* Footer
	*********************************/
	#footer { .gradient(rgb(255,255,255), rgb(245,245,245), #ffffff, #f5F5F5);color: #615E5F; height: 50px; text-align: center; position: relative;z-index: 999}
	#footer a { color: #231f20; }
	#foot-list { margin:0 auto; width: 970px;
		.floatL {line-height: 50px;}
		ul {list-style: none;padding:5px 0 0 0;
			li{ float: left; color: #1d2222;padding: 0 0 0 12px; margin:0 10px 0 0;
				&:before{ .spriteInline(2,0,1px,19px); position: absolute; margin:0 0 0 -10px;} 
				&:first-child{ 
					&:before{background: none!important;} 
				} 
				a{.colorGrey(); padding:0 0 0 12px;}
					a:hover{.colorGrey(); text-decoration:none;}
				}
			
		}
	}
	
	/* --- Push Footer to bottom */
	html, body {height: 100%; width: 100%}
	#container {min-height: 100%; height: auto!important; height: 100%; margin: 0 auto -50px;position: relative;z-index: 1}
	#footer, #push { height: 50px; }


	/* Welcome
		*********************************/
		#txtbox {
			padding:80px 0 20px; margin:0 auto; text-align:center; width:100%; background:#fff;
			img {margin-bottom:30px;}
		}
		.welcome #foot-list {margin:0 auto; width: 339px;
		.floatL {line-height: 50px;}
		ul {list-style: none;padding:5px 0 0 0;
			li{ float: left; color: #1d2222;padding: 0 0 0 12px; margin:0 10px 0 0;
				&:before{ .spriteInline(2,0,1px,19px); position: absolute; margin:0 0 0 -10px;} 
				&:first-child{ 
					&:before{background: none!important;} 
				} 
				a{.colorGrey(); padding:0 0 0 12px;}
					a:hover{.colorGrey(); text-decoration:none;}
				}
			
		}
	}


/* =============================================================================
   Less css imports - second part
   ========================================================================== */
	@import "boilerplate/helperClasses.less"; /* helper classes, clearfix, ... */
	@import "responsive/mediaqueries.less"; /* media queries */
	@import "print.less"; /* print styles */




