/* =============================================================================
   Base
   ========================================================================== */

	html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0);
		   -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	body { margin: 0; font-size:0.688em /*11.5px*/; line-height:1.5em; }
	body, button, input, select, textarea { font-family: Georgia, Helvetica, sans-serif; color: #474445; }
	
	/* These selection declarations have to be separate */
	::-moz-selection { background: #e5d2bd; .colorGrey(); text-shadow: none; }
	::-webkit-selection { background: #e5d2bd; .colorGrey(); text-shadow: none; }
	::selection { background: #e5d2bd; .colorGrey(); text-shadow: none; }

	blockquote {font-size:@15px; text-align:center; color:#231f20;
		&:before{background:url(../../images/bck_quote.png) top center no-repeat;display:block;content:"";width:100%;height:2px;margin-bottom:15px;}
		&:after{background:url(../../images/bck_quote.png) bottom center no-repeat;display:block;content:"";width:100%;height:2px;margin-top:20px;}
	}

	.marginT{margin:10px 0 0 0;}
	.marginB{margin:0 0 20px 0;}
	
	
	/* Font-sizes */
	@10px : 0.833em;
	@11px : 0.917em;
	@12px : 1.000em;
	@13px : 1.083em;
	@14px : 1.167em;
	@15px : 1.250em;
	@16px : 1.333em;
	@17px : 1.417em;
	@18px : 1.500em;
	@19px : 1.583em;
	@20px : 1.667em;
	@21px : 1.750em;
	@22px : 1.833em;
	@23px : 1.917em;
	@24px : 2.000em;
	@25px : 2.083em;
	@28px : 2.333em;

	.colorbrown(){color: #c1986a;}
	.colorwhite(){color: #ffffff;}
	.colorGrey(){color: #231f20;}
	.colorBlack(){color: #000000;}