/* =============================================================================
   Embedded content
   ========================================================================== */

	/* Improve image quality when scaled in IE7 */
	img { border: 0; -ms-interpolation-mode: bicubic; }
	
	/* Correct overflow displayed oddly in IE9 */
	svg:not(:root) { overflow: hidden; }
