/* ============================================================================
   Floats & aligns
   ========================================================================== */

	/* Floats */
	.floatL {float:left;}
	.floatR {float:right;}
	img.floatL {margin:0 20px 20px 0; clear:both;}
	img.floatR {margin:0 0 15px 15px; clear:both;}
	
	.noPadding {padding:0;}
	
	/* Textalign */
	.alignL {text-align:left;}
	.alignR {text-align:right;}