/* =============================================================================
   Forms
   ========================================================================== */

	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	legend { border: 0; *margin-left: -7px; padding: 0; }
	label { cursor: pointer; }
	
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	button, input { line-height: normal; *overflow: visible; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
	
	/* Consistent box sizing and appearance */
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	
	/* Remove inner padding and border in FF3/4 */
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	
	/* Remove default vertical scrollbar in IE6/7/8/9 */
	textarea { overflow: auto; vertical-align: top; }
	
	/* Colors for form validity */  /* Mandy: ? */
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }
	
	/* Obligatory */
	.obligatory {font-size:0.8em; font-style:italic; margin:0 0 10px 0;}

	/* Styles */
	.L {width:202px;}
	.M {width:198px;}
	.S {width:172px;}

	.error { padding: 3px;.roundedCorners(3px); border:2px solid #a21017; width:140px; font-size:@10px; color:#40070a; line-height:@13px;margin:0 0 12px 0!important;
		&:before{.spriteInline(10, 0, 20px, 20px); margin:0 5px 0 0;}
		span {display: block;float:right;width: 115px}
	}