/* =============================================================================
   Headings & Paragraph
   ========================================================================== */
   
	p { margin: 0 0 1.5em 0; }
	h1, h2, h3, h4, h5, h6, pre, blockquote, dl, hr, address { margin: 0 0 0.8em 0; padding: 0; }
	
	h1 {color:#886b4a;line-height:0.5em; font-weight:100; margin:0;.RefreshmentStand();font-size:73px;text-align:center; padding:25px 0 10px 0; margin:0;}
	h2 {color:#9e7c56; font-size:1em; font-weight:bold;}
	h3 {color:#3e3e3e; font-size:1.3em; font-weight:normal; line-height:1.1em;}
	h4 {color:#999 ;font-size:1em; font-weight:bold;}
	h5 {font-size:1em; font-weight:normal;}
	h6 {font-size:0.9em; font-style:italic; font-weight:normal;}