/* =============================================================================
   HTML5 element display
   ========================================================================== */

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, address, blockquote { display: block; }
	audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }