/* =============================================================================
   Links
   ========================================================================== */
   
	a:link {.colorGrey(); text-decoration:underline; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
	a:hover{.colorGrey(); text-decoration:none;}
	a:visited {.colorGrey();}
	a:active {.colorGrey();}
	a:focus { outline: thin dotted; }
	
	/* Improve readability when focused and hovered in all browsers */
	a:hover, a:active { outline: 0; }