/* =============================================================================
   Lists
   ========================================================================== */

	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; margin: 0; padding: 0; }