/* =============================================================================
   Tables
   ========================================================================== */

	table { border-collapse: collapse; border-spacing: 0; }
	table tr td {padding: 0; border: 0; margin: 0;}