/* =============================================================================
   Typography
   ========================================================================== */

	abbr[title] { border-bottom: 1px dotted; } /* abbreviation */
	b, strong { font-weight: bold; color:#231f20;}
	blockquote { margin: 1em 40px; }
	dfn { font-style: italic; } /* definition */
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	ins { background: #ff9; color: #000; text-decoration: none; } /* a text that has been inserted into a document */
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	small { font-size: 85%; }
	
	/* Position subscript and superscript content without affecting line-height */
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }