/* =============================================================================
   Custom forms - Uniformjs.com
   ========================================================================== */
	
	/*
		CONFIGURATION OF THE ELEMENTS VIA LESS
		-------------------------------------------------------------------------
		More advanced styling can be done below this configuration rules
	*/
		/*
			General styles for alle INPUT types, TEXTAREA and SELECT
		*/
			/* Border width + border style */
			@its-border-width: 1px;						@its-border-style: solid;		
			@its-border-radius: 5px;/* rounded corners */
			
			/* Paddings inside the field */
			@its-padding-top: 0;						@its-padding-right: 0;		
			@its-padding-bottom: 0;					@its-padding-left: 0;			

			/* Normal state */
			@its-border-top: #AAAAAA;					@its-border-right: #CCCCCC;		
			@its-border-bottom: #CCCCCC;				@its-border-left: #AAAAAA;
			@its-text-color: #5b5b5b;
					
			/* Focus state */
			@its-border-top-focus: #999999;				@its-border-right-focus: #999999;	
			@its-border-bottom-focus: #999999;			@its-border-left-focus: #999999;
			@its-box-shadow-focus: 0px 0px 4px rgba(0,0,0,0.3);	
			@its-text-color-focus: #000;
			
			/* Disabled state */
			@its-bg-disabled: #EEEEEE;	
			
			/* Widths + heights */
			@its-xs-width: 35px; /* extra small width, used for house-numbers 		css-class: inputXS */
			@its-s-width: 70px; /* small width 										css-class: inputS */
			@its-m-width: 105px; /* medium width									css-class: inputM */
			@its-l-width: 140px; /* large width										css-class: inputL */
			@its-xl-width: 175px; /* extra large width								css-class: inputXL */	
			@its-xxl-width: 210px; /* extra large width								css-class: inputXXL */			
			@its-height: 26px; /* height, this height is not added to a textarea */
			
		/*
			Specific styles for SELECT
		*/	
			/* Arrow */
			@sel-arrbox-width: 26px; /* width of arrowbox */
	
		/*
			Specific styles for CHECKBOX
		*/
			@chkbx-width: 20px;						@chkbx-height: 20px;
			@chkbx-border-radius: 5px;/* rounded corners */
		
		/*
			Specific styles for RADIO
		*/
			@radio-width: 20px;						@radio-height: 20px;
			@radio-border-radius: 10px;/* rounded corners */
	
		/*
			Specific styles for FILE SELECT
		*/
			@file-width: 190px;						@file-height: 28px;
			@file-border-radius: 5px;/* rounded corners */
			@file-btn-border-radius: 0px 3px 3px 0px; /* rounded corners */
	
		/*
			Specific styles for BUTTONS
		*/			
			/* Normal state */
			@btn-rgb-normal-top: rgb(229,229,229); @btn-rgb-normal-bottom: rgb(198,198,198); @btn-hex-normal-top: #e5e5e5; @btn-hex-normal-bottom: #c6c6c6;
						
			/* Hover state */
			@btn-rgb-hover-top: rgb(198,198,198); @btn-rgb-hover-bottom: rgb(229,229,229); @btn-hex-hover-top: #c6c6c6; @btn-hex-hover-bottom: #e5e5e5;
			
			@btn-border-radius: 3px;/* rounded corners */

		/*
			Specific styles for ERRORS
		*/	
			@error-border: #cc0000;
			@error-text: #a00606;
	
		/* #end of configuration# */