/* =============================================================================
   Custom forms - Uniformjs.com
   ========================================================================== */
	
	/*
		CORE STYLING OF THE ELEMENTS
		-------------------------------------------------------------------------
	*/
		/*
			General styles
		*/
			button, input, select, textarea, div.selector { color: @its-text-color; }			
	
			.field.error .msg{ color: @error-text; }
			
		/*
			Input > text + email + password & textarea
		*/
			input.text, input.email, input.password, textarea{  
				padding: @its-padding-top @its-padding-right @its-padding-bottom @its-padding-left; outline: 0; 
				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left; 
				.roundedCorners(@its-border-radius); 
			}
			input.text:focus, input.email:focus, input.password:focus, textarea.uniform:focus{  
				border-top-color: @its-border-top-focus; border-right-color: @its-border-right-focus; border-bottom-color: @its-border-bottom-focus; border-left-color: @its-border-left-focus;  
				.boxShadow(@its-box-shadow-focus); color: @its-text-color-focus;  
			}
			
			input.text:disabled, input.email:disabled, input.password:disabled, textarea.uniform:disabled{ background-color: @its-bg-disabled; }
			input.text[disabled="disabled"], input.email[disabled="disabled"], input.password[disabled="disabled"], textarea.uniform[disabled="disabled"]{ background-color: @its-bg-disabled; }
			
				.ie{
					input.text, input.email, input.password, textarea{ behavior: url(/css/PIE.htc); position: relative; }	
				}
			
			.field.error{ 
				input.text, input.email, input.password, textarea{ 
					border: 1px solid @error-border !important;
				}
			}
				
		/*
			Select
		*/
			div.selector{
				padding: @its-padding-top @its-padding-right @its-padding-bottom @its-padding-left; background: #FFF;
				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left; 
				.roundedCorners(@its-border-radius); 					
					
				select{ top: 0px; left: 0px; border: solid 1px #fff; height:auto; }
				span{ height: @its-height - @its-padding-top - @its-padding-bottom; cursor: pointer; padding-right: @sel-arrbox-width - @its-padding-right; text-shadow: 0 1px 0 #fff; }
				&.disabled span { color: #bbb; }
				.arrBox{ position: absolute; top: 0px; right: 0px; width: @sel-arrbox-width; height: @its-height; }
				.arr{ width: 100%; height: 100%; background: url(../../images/form/select.png) no-repeat center center; }
				&.focus span, &.hover span, &:hover span { color: @its-text-color-focus; }
				&.disabled.focus span, &.disabled.hover span, &.disabled:hover span{ color: #bbb; }
				&.disabled{ background-color: @its-bg-disabled; }
				&.focus:active span, &:hover:active span, &.active:hover span, &.focus.active span { }
				&.disabled{}
			}
				.ie7 div.selector span{ margin-right: @sel-arrbox-width - @its-padding-right; }
			
			div.selector.focus, div.selector.focus:active, div.selector:hover:active, div.selector.active:hover, div.selector.focus.active{
				.boxShadow(@its-box-shadow-focus);
				border-top-color: @its-border-top-focus; border-right-color: @its-border-right-focus; border-bottom-color: @its-border-bottom-focus; border-left-color: @its-border-left-focus;
			}
				.ie{
					div.selector{ behavior: url(/css/PIE.htc); position: relative; }	
				}
				
			.field.error{ 
				div.selector{ 
					border: 1px solid @error-border !important;
				}
			}
			
		/*
			Width defenition for input > text + email + password & textarea & select
			specified classes: inputXS, inputS, inputM, inputL, inputXL, inputXXL
		*/			
			input.text, input.email, input.password, textarea, select, div.selector{
				&.inputXS{ width: @its-xs-width; }
				&.inputS{ width: @its-s-width; }

				&.inputM{ width: @its-m-width; }
				&.inputL{ width: @its-l-width; }
				&.inputXL{ width: @its-xl-width; }
				&.inputXXL{ width: @its-xxl-width; }
			}
			select{
				@select_extra_width: @its-padding-left + @its-padding-right;
				&.inputXS{ width: @its-xs-width + @select_extra_width; }	&.inputS{ width: @its-s-width + @select_extra_width; } 		&.inputM{ width: @its-m-width + @select_extra_width; }
				&.inputL{ width: @its-l-width + @select_extra_width; }		&.inputXL{ width: @its-xl-width + @select_extra_width; }	&.inputXXL{ width: @its-xxl-width + @select_extra_width; }
			}
			input.text, input.email, input.password, select, div.selector{ height: auto; }


		/*
			Checkbox
		*/
			div.checker{
				width: @chkbx-width; height: @chkbx-height; .roundedCorners(@chkbx-border-radius);  margin-right: 5px; 
				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left;
					  
				span{ }
				input, span{ width: @chkbx-width; height: @chkbx-height; }
				&:active span, &.active span{  }
				&.focus, &:hover{ border-top-color: @its-border-top-focus; border-right-color: @its-border-right-focus; border-bottom-color: @its-border-bottom-focus; border-left-color: @its-border-left-focus; }
				span.checked { background: url(../../images/form/checked.png) no-repeat center center; }
				&:active span.checked, &.active span.checked { }
				&.focus span.checked, &:hover span.checked { }
				&.focus:active span.checked, &:hover:active span.checked, &.active:hover span.checked, &.active.focus span.checked { }
				&.disabled{ background-color: @its-bg-disabled; }
				&.disabled span, &.disabled:active span, &.disabled.active span { }
				&.disabled span.checked, &.disabled:active span.checked, &.disabled.active span.checked { }
			}
				.ie{
					div.checker{ behavior: url(/css/PIE.htc); position: relative; }	
				}
				
			.field.error{ 
				div.checker{ 
					border: 1px solid @error-border !important;
				}
			}
			
		/*
			Radio
		*/
			div.radio{
				width: @radio-width; height: @radio-height; .roundedCorners(@radio-border-radius);  margin-right: 5px;
				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left;
				
				span{ }
				input, span{ width: @radio-width; height: @radio-height; }
				&:active span, &.active span{ }
				&.focus, &:hover { border-top-color: @its-border-top-focus; border-right-color: @its-border-right-focus; border-bottom-color: @its-border-bottom-focus; border-left-color: @its-border-left-focus; }
				&.focus:active span, &:active:hover span, &.active:hover span, &.active.focus span{ }
				span.checked { background: url(../../images/form/radio.png) no-repeat center center; }
				&:active span.checked, &.active span.checked{}
				&.focus span.checked, &:hover span.checked{}
				&.focus:active span.checked, &:hover:active span.checked, &.focus.active span.checked, &.active:hover span.checked{}
				&.disabled span, &.disabled:active span, &.disabled.active span{}
				&.disabled span.checked, &.disabled:active span.checked, &.disabled.active span.checked{ }
				&.disabled{ background-color: @its-bg-disabled; }
			}
				.ie{
					div.radio{ behavior: url(/css/PIE.htc); position: relative; }	
				}
			
			.field.error{ 
				div.radio{ 
					border: 1px solid @error-border !important;
				}
			}

		/*
			Uploader
		*/
			div.uploader{
				width: @file-width; height: @file-height; .roundedCorners(@file-border-radius); cursor: pointer;
				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left;
			
				span.action { height: @file-height; line-height: @file-height - 3; text-align: center; text-shadow: #fff 0px 1px 0px; font-weight: bold; width: 86px; 
							.gradient(@btn-rgb-normal-top, @btn-rgb-normal-bottom, @btn-hex-normal-top, @btn-hex-normal-bottom); .roundedCorners(@file-btn-border-radius);
				}
				span.filename { height: @file-height; margin: 2px 0px 2px 2px; line-height: @file-height - 3; color: #777; width: 82px; }
				input{ width: @file-width; }
				&.focus, &.hover, &:hover{ }
				&.focus span.action, &.hover span.action, &:hover span.action{ .gradient(@btn-rgb-hover-top, @btn-rgb-hover-bottom, @btn-hex-normal-top, @btn-hex-hover-bottom); }
				&.disabled span.action{ color: #aaa; }
				&.disabled span.filename{ border-color: #ddd; }
			}
				.ie{
					div.uploader, div.uploader span.action{ behavior: url(/css/PIE.htc); position: relative; }	
				}
			
			.field.error{ 
				div.uploader{ 
					border: 1px solid @error-border !important;
				}
			}

		/*
			Button
		*/
			div.button{ 
				position: relative; height: @its-height + 2 ;
  				border-top: @its-border-style @its-border-width @its-border-top; border-right: @its-border-style @its-border-width @its-border-right; 
				border-bottom: @its-border-style @its-border-width @its-border-bottom; border-left: @its-border-style @its-border-width @its-border-left;
				.gradient(@btn-rgb-normal-top, @btn-rgb-normal-bottom, @btn-hex-normal-top, @btn-hex-normal-bottom);
				.roundedCorners(@btn-border-radius);
				
				span{ margin-left: 13px; height: @its-height - 6; padding: 7px 15px 0px 2px; font-weight: bold; text-shadow: #fff 0px 1px 0px; }
				&.focus, &:focus, &:hover, &.hover{ .gradient(@btn-rgb-hover-top, @btn-rgb-hover-bottom, @btn-hex-normal-top, @btn-hex-hover-bottom);
					span{}
				}
				&.active, &:active{
					span{ color: #555; }	
				}
				&.disabled, &:disabled{
					span{ color: #bbb; cursor: default; }	
				}
			}
				.ie{
					div.button{ behavior: url(/css/PIE.htc); position: relative; }	
				}
