/* =============================================================================
   Custom forms - Uniformjs.com
   ========================================================================== */
	
	/*
		Additional styles - used to build basic form layout
		-------------------------------------------------------------------------
	*/
		.form-item { zoom: 1; margin-bottom: 15px;  }
		.form-item:before, .form-item:after { content: ""; display: table; } .form-item:after { clear: both; }
	
		.form-item .label{ float: left; width: 120px; min-height: 2px; margin-top: 4px; }
		.form-item .field{ float: left; }
		input + label{ margin-left: 4px; }
		.form-item .field .msg{ margin-left: 8px; }
		
		/* Styling for a select-element */
		.selector{ border-top: solid 1px #aaa; border-left: solid 1px #aaa; border-bottom: solid 1px #ccc; border-right: solid 1px #ccc; padding: 3px; }

		/* #end of additional styles# */