/* =============================================================================
   Custom forms - Uniformjs.com
   ========================================================================== */
	
	/*
		Required styles for this plugin
		-------------------------------------------------------------------------
	*/	
		.selector,.radio,.checker,.uploader,.button,.selector *,.radio *,.checker *,.uploader *,.button *{ margin: 0; padding: 0; }
		.selector, .checker, .button, .radio, .uploader { display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
		.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus { outline: 0; }
		
		div.button a, div.button button, div.button input { position: absolute; }
		div.button { cursor: pointer; position: relative; }
		div.button span { display: -moz-inline-box; display: inline-block; line-height: 1; text-align: center; }
	
		div.selector { position: relative; overflow: hidden; }
		div.selector span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
		div.selector select { position: absolute; opacity: 0; filter:alpha(opacity=0); border: none; background: none; }
	
		div.checker { position: relative; }
		div.checker span { display: -moz-inline-box; display: inline-block; text-align: center; }
		div.checker input { opacity: 0; filter:alpha(opacity=0); display: inline-block; background: none; }
	
		div.radio { position: relative; }
		div.radio span { display: -moz-inline-box; display: inline-block; text-align: center; }
		div.radio input { opacity: 0; filter:alpha(opacity=0); text-align: center; display: inline-block; background: none; }
	
		div.uploader { position: relative; overflow: hidden; cursor: default; }
		div.uploader span.action { float: left; display: inline; padding: 2px 0px; overflow: hidden; cursor: pointer; }
	
		div.uploader span.filename { padding: 0px 10px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
		div.uploader input { opacity: 0; filter:alpha(opacity=0); position: absolute; top: 0; right: 0; bottom: 0; float: right; height: 25px; border: none; cursor: default; }
		
		/* #end of required styles# */