/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design. 
   source: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
   ========================================================================== */

	@media screen and (max-height: 500px) {
	  .home {
		#content{top:120px;}
	  }
	}

	/* Large screens */
	@media screen and (min-width: 1400px) {
	  body {
	    font-size:0.75em;
	  }
	}
